div.Block:nth-of-type(3), div.Block:nth-of-type(6) {
  border-right: 2px solid white;
}

div.Block {
  border-left: 1px solid rgba(255, 255, 255, 0.65);
  border-right: 1px solid rgba(255, 255, 255, 0.65);
}

div.Block form input {
  width: 1em;
  height: 1em;
  background-color: inherit;
  border: none;
  color: white;
  text-align: center;
  margin-top: .4em;
}

div.Block form input::selection {
  background-color: red;
  color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

div.Block.flash {
  background-color: rgba(255, 0, 0, 0.7);
}

@media only screen and (min-width: 375px) {
  div.Block form input {
    margin-top: .6em;
  }
}