div.GameContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  margin: auto;
  height: 50vh;
  width: 80vw;
  border: 2px solid white;
  background-color: #2a013a;
}

div.ui {
  display: grid;
  width: 20em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "btn btn1" "btn2 btn3" "msg msg";
  align-items: center;
  margin: 1em auto;
}

div.ui button {
  grid-area: btn;
  background-color: #2a013a;
  border: 2px solid #888888;
  color: white;
  cursor: pointer;
  padding: .5em;
  margin: .5em;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

div.ui button.timer {
  animation-timing-function: ease;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-name: timer;
  animation-iteration-count: infinite;
}

@keyframes timer {
  0% { background-color: green }
  70% { background-color: #034e00 }
  100% { background-color: #2a013a }
}

div.ui button:nth-of-type(2) { grid-area: btn1; }
div.ui button:nth-of-type(3) { grid-area: btn2; }
div.ui button:nth-of-type(4) { grid-area: btn3; }

div.ui button:active {
  background-color: #4a0067;
}

h4.message {
  grid-area: msg;
  height: 1em;
  color: green;
}

h4.message.err {
  color: red;
}

@media only screen and (min-width: 655px) {
  div.GameContainer {
    width: 65vw;
    height: 65vw;
  }
}

@media only screen and (min-width: 750px) {
  div.GameContainer {
    width: 45vw;
    height: 45vw;
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1300px) {
  div.GameContainer {
    width: 45vw;
    height: 45vw;
  }
}

@media only screen and (min-width: 1500px) {
  div.GameContainer {
    height: 35vw;
    width: 35vw;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1700px) {
  div.GameContainer {
    height: 20em;
    width: 20em;
    font-size: 1.1em;
  }
}

@media only screen and (max-height: 550px) {
  div.GameContainer {
    height: 20em;
  }
}