div.GameContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  margin: auto;
  height: 50vh;
  width: 80vw;
  border: 2px solid white;
  background-color: #2a013a;
}

div.ui {
  margin: .7em;
}

div.ui button {
  background-color: #2a013a;
  border: 2px solid #888888;
  color: white;
  cursor: pointer;
  padding: .5em;
  margin: .5em;
  width: 8em;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  transition-duration: .8s;
}

div.ui button:active {
  background-color: #4a0067;
}

h4.message {
  color: green;
}

h4.message.err {
  color: red;
}

@media only screen and (min-width: 400px) {
  div.ui button {
    width: 10em;
  }
}

@media only screen and (min-width: 550px) {
  div.ui button {
    font-size: 1.1em;
    width: 11em;
  }
}

@media only screen and (min-width: 655px) {
  div.GameContainer {
    width: 65vw;
  }
  div.ui {
    width: 70vw;
    margin: 1em auto;
  }
}

@media only screen and (min-width: 750px) {
  div.GameContainer {
    width: 55vw;
    height: 40vh;
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1000px) {
  div.GameContainer {
    width: 65vw;
    height: 65vw;
    font-size: 2em;
  }

  div.ui {
    width: 50vw;
  }
}

@media only screen and (min-width: 1300px) {
  div.GameContainer {
    width: 45vw;
    height: 45vw;
  }
  
  div.ui button {
    width: 15em;
  }
}

@media only screen and (min-width: 1500px) {
  div.GameContainer {
    height: 35vw;
    width: 35vw;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1700px) {
  div.GameContainer {
    height: 20em;
    width: 20em;
    font-size: 1.1em;
  }
  div.ui button {
    width: 17em;
  }
}